scipy==0.14.0
numpy==1.9.0
Bottleneck==0.8.0
beautifulsoup4==4.3.2
lxml==3.4.0
numexpr==2.4
pandas==0.15.0
python-dateutil==2.2
pytz==2014.7
scikit-learn==0.15.2
six==1.8.0
wget==2.2
Unidecode==0.04.16